<div class="profiles">
    <div class="contents">
        <div class="my_profile">
            <div class="image_and_name">
                <%= image_tag '/images/' + current_user.image, :class=>'image', :size => '300x300' %>
                <p class="name"><%= current_user.name %></p>
            </div>
            <div class="all_post">
                <div class="my_post">
                    レシピ投稿数 :<%= @recipe.length %>
                </div>
                <div class="my_post">
                    運動の合計時間 :<%= @all_time %>
                </div>
                <div class="my_post">
                    総消費カロリー数 :<%= @all_calorie %>kcal
                </div>
                <div class="my_post">
                    側近で運動した日にち :<%= @last_exercise_history_time %>
                </div>
                <div class="my_post">
                    BMI :<%= @bmi.round(2) %>
                </div>
                <div class="my_post">
                    現体重 :
                    <% if @las_weight == nil %>
                      <span>未登録</span>
                    <% else %>
                      <%= @las_weight.weight %>kg
                    <% end %>
                </div>
                <div class="my_post">
                    身長 :<%= current_user.height %>cm
                </div>
            </div>
        </div>
        <div class="link_to">
            <ul>
                <li><%= link_to 'プロフィール', top_path, :class=>'link' %></li>
                <li><%= link_to 'プロフィール編集', profile_edit_path, :class=>'link' %></li>
                <li><%= link_to '新規投稿', post_new_path, :class=>'link' %></li>
                <li><%= link_to 'マイ投稿一覧', post_cooking_path, :class=>'link' %></li>
                <li><%= link_to '運動する', index_process_path, :class=>'link' %></li>
                <li><%= link_to '一覧投稿', recipe_index_path, :class=>'link' %></li>
                <li><%= link_to '体重グラフ, 登録', management_path, :class=>'link' %></li>
                <li><%= link_to 'カロリーグラフ', calorie_management_path, :class=>'link' %></li>
            </ul>
        </div>
    </div>
</div>